body {
/*   background: #e86a61; */
  background-image: url(https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&w=1000&q=80);
  background-size: auto 1000vh;
/*   height: 100vh; */
}

.menu{
  background-color: transparent;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Selecionando todas as listas que estão dentro da classe menu */
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}
